.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 186px;
}

.ilustrationHome {
  padding: 1rem 1rem 0rem;
}
