.header {
  display: flex;
  padding: 2rem 2rem 4.625rem 2rem;
  width: 100%;
}

.header a {
  padding: 1rem 1rem;
  margin-right: 1.6rem;
}

.patas {
  position: absolute;
  top: 0px;
  right: 0px;
}

.user {
  position: absolute;
  top: 40px;
  right: 40px;
}
