.header {
  display: flex;
  padding: 2rem 2rem 4.625rem 2rem;
  width: 100%;
}

.header a {
  padding: 1rem 1rem;
  margin-right: 1.6rem;
}

.logo {
  display: none;
}

.patas {
  position: absolute;
  width: 189px;
  top: 0px;
  right: 0px;
}

.user {
  position: absolute;
  top: 40px;
  right: 40px;
}

@media (min-width: 768px) {
  .logo {
    display: block;
    width: 8rem;
    margin-right: 3rem;
  }

  .header {
    padding: 2rem 2rem 4.625rem 3rem;
  }

  .patas {
    width: 292px;
  }
}

@media (min-width: 1440px) {
  .logo {
    width: 8rem;
    margin-right: 3rem;
  }

  .header {
    padding: 2rem 2rem 3.425rem 8rem;
  }

  .patas {
    width: 317px;
    right: -25px;
    z-index: 1000;
  }
}
