@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  text-decoration: none;
  --type-first: "Poppins", sans-serif;
  --type-second: "IBM Plex Sans", sans-serif;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  margin: 0.5rem 0.5rem;
  display: block;
  background-color: #fc7071;
  color: #ffffff;
  border: 1px solid #fc7071;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
  height: 2.5rem;
  width: 80%;
  min-width: 11rem;
  max-width: 21.5rem;
  padding: 0.5rem 0;
  font-family: var(--type-first);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  background-color: #ff9d9e;
  transition: 0.4s;
}

.animeLeft {
  opacity: 0;
  transform: translateX(20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* Important !! */
/* Below is defined the general styles for each page based on url pathname */

.login {
  background: url("./Assets/Forma1.svg");
  background-repeat: no-repeat;
  background-size: 352px;
  background-position: top left;
  background-color: #fff;
}

.internal {
  background: url("./Assets/Forma1.svg"), url("./Assets/Forma2left.svg");
  background-repeat: no-repeat;
  background-size: 352px, 82px;
  background-position: top left, left top 370px;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./Assets/Forma1.svg"), url("./Assets/Forma2.svg");
  background-repeat: no-repeat;
  background-size: 352px, 84px;
  background-position: top left, right center;
  background-color: #3772ff;
}
/* Above is defined the general styles for each page based on url pathname */

@media (min-width: 768px) {
  .login {
    background-size: 560px;
  }

  .internal {
    background: url("./Assets/Forma1.svg"), url("./Assets/Forma2.svg");
    background-repeat: no-repeat;
    background-size: 560px, 130px;
    background-position: top left, right 0px top 270px;
  }

  .main {
    background-size: 560px, 130px;
    background-position: top left, right 0px top 270px;
    background-color: #3772ff;
  }
}

@media (min-width: 1440px) {
  .main {
    background-size: 560px, 135px;
    background-position: top left, right center;
  }
}
